*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
}

.header {
    background: rgb(51, 38, 1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
}

h1, a {
    color: white;
    text-decoration: none;
}

.nav a {
    margin-left: 1rem;
}

main {
    flex-grow: 1;
    padding: 1rem;
}

footer {
    padding: 0.5rem;
    background: rgb(51, 38, 1);
    text-align: center;
    font-size: 0.8rem;
}

.cardsProductos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.cardProducto {
    text-align: center;
    border: 3px solid white;
    width: 20%;
    background: rgb(51, 38, 1);
    border-radius: 3px;
}

.cardTitle {
    color: white;
}

.cardProductos {
    background: rgb(51, 38, 1);
    width: 100%;
    display: inline-block;
    transition: all 0.3s ease;
}

.cardProducto h1 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}


.cardProducto img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin: 10px 0;
}

.cardProducto:hover {
    transform: scale(1.1);
}

.cardTitulo {
    font-size: 2rem;
    color: white;
    text-align: center;
    margin:2rem
}

.card-caja {
    display: flex;
}

.card-caja img {
    width: 50%;
    margin: 0 1rem 1rem 1rem;
}

.card-caja p {
    font-size: 1.5rem;
    margin: 0 1rem 1rem 1rem;
}
